<!DOCTYPE html>
<html lang="en">
{% include 'components/head.html' %}
<body id="js-wrapper">
    <div class="container" >
        {% block page %}{% endblock %}
        {% include 'components/navigation.html' %}
        {% include 'components/banner.html' %}
        {% include 'components/news.html' %}
        {% include 'components/article.html' %}
        {% include 'components/team.html' %}
        {% include 'components/form-sponsor.html' %}
        {% include 'components/footer.html' %}
    </div>
<script src="assets/js/main.js"></script>
</body>
</html>