<!-- Footer
==================================== -->
<footer>
    <p>&copy; 2014 Segel-Team. Alle Rechte vorbe</p>
    <span><span class="icon icon-calendar"></span><span class="icon icon-calendar"></span></span>
    <nav aria-label="site">
        <a class="footer-nav" href="#">Impressum</a>
        <a class="footer-nav" href="#">Datenschutz</a>
        <a class="footer-nav" href="#">Copyright</a>
        <a class="footer-nav" href="#">Copyright</a>
    </nav>
</footer>

<!-- End of Footer
==================================== -->