<!-- Contact and sponsor
==================================== -->

<section class="contact">
    <div class="contact__form">
        <form action="/action_page.php">
            <span class="heading">Kontakt</span>
            <span class="sub-heading">formular</span>
            <input name="name" type="text" placeholder="Name*">
            <input name="email" type="email" placeholder="Email*">
            <textarea rows="4" cols="50" placeholder="Nachricht*"></textarea>
            <input class="btn-submit" type="submit" value="Absenden">
        </form>
    </div>
    <div class="contact__sponsor">
        <span>sponsor 1 <br> logo</span>
        <span>sponsor 2 <br> logo</span>
        <span>sponsor 3 <br> logo</span>
        <span>sponsor 4 <br> logo</span>
    </div>
</section>

<!-- End of Contact and sponsor
==================================== -->