<!-- Header
==================================== -->

<header>
    <div class="header__toggle" id="js-header--toggle">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <nav id="js-header--nav" aria-label="site">
        <a class="nav__link" href="#">About Us</a>
        <a class="nav__link" href="#">gallery</a>
        <a class="nav__link" href="#">crew</a>
        <a class="nav__link" href="#">kontakt</a>
    </nav>
    <span class="header__image">

        <img src="assets/images/logo-flag.png" alt="logo">

    </span>
</header>

<!-- End of Header
==================================== -->