<!-- News
==================================== -->

<section class="news">
    <div class="block1">
        <div class="block1__left">
            <div class="block1__left1 headlines__content">
                <span class="time"><span class="icon icon-calendar"></span>23 MAI 2014</span>
                <p class="block1__headline">News Headlines</p>
                <p>Lorem Ipsum. Proin gravida nibh veit auctor aliquet.Aenean sollicitudin</p>
            </div>
            <div class="block1__left2 headlines__content">
                <span><span class="icon icon-calendar"></span> 23 MAI 2014</span>
                <p class="block1__headline">News Headlines</p>
                <p>Lorem Ipsum. Proin gravida nibh veit auctor aliquet.Aenean sollicitudin</p>
            </div>
        </div>
        <div class="block1__right headlines__content no-padding">
            <div class="hc__wrapper">
                <h2>17 MAI</h2>
                <h3>Headline Beitrag 2014</h3>
                <h4>subtitle</h4>
                <p>Lorem ipsum. Proin gravida nibh vei veit auctor aliquet Aenean sollicitudin, lorem quis bibendum auctor</p>
            </div>
        </div>
    </div>
    <div class="block2">
        <div class="block2__left">
            <img src="assets/images/shipping.png" alt="shipping" />
        </div>
        <div class="block2__right">
            <div class="block2__top headlines__content no-padding">
                <div class="hc__wrapper">
                    <h2>17 MAI</h2>
                    <h3>Headline Beitrag 2014</h3>
                    <h4>subtitle</h4>
                    <p>Lorem ipsum. Proin gravida nibh vei veit auctor aliquet Aenean sollicitudin, lorem quis bibendum auctor</p>
                </div>
            </div>
            <div class="block2__bottom">
                <div class="bottom__left">
                    <img src="assets/images/flag.png" alt="flag" />
                </div>
                <div class="bottom__right">
                    <img src="assets/images/flag-ship.png" alt="flag-ship" />
                </div>
            </div>
        </div>
    </div>
    <div class="block3">
        <div class="block3__left">
            <img src="assets/images/blinder.png" alt="blinder">
            <div class="center-text">
                <span class="icon icon-calendar"></span>
                <span class="center-text__heading"><br>News+<br>Bilder</span>
            </div>
        </div>
        <div class="block3__right">
            <div class="center-text">
                <span class="icon icon-calendar"></span>
                <span class="center-text__heading"><br>SegelTeam<br>Termine 2014</span>
            </div>
        </div>
    </div>
</section>

<!-- End of News
==================================== -->