/**
 * Site Variables
 *
 * @author Senthil Kumar Mukkandi <uv.visitsenthil@gmail.com>
 */

/* Start of Varibles */
$light-grey:    #e5eaee;
$lighter-grey:  #E5EAEE;
$grey:          #717171;
$grey-72:       #727272;
$grey-e8:       #e8e8e8;
$red:           #c4132f;
$white:         #ffffff;
$black:         #000000;

/* End of Varibles */
