/**
 * Browser reset css
 *
 * @author Senthil Kumar Mukkandi <uv.visitsenthil@gmail.com>
 */
/* Start of Reset Css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: arial;
}

body {
  font-size: 1.4rem;
}

/* End of Reset Css */
/**
 * Site Variables
 *
 * @author Senthil Kumar Mukkandi <uv.visitsenthil@gmail.com>
 */
/* Start of Varibles */
/* End of Varibles */
/**
 * Any non-site-specific tools and code snippets
 *
 * @author Senthil Kumar Mukkandi <uv.visitsenthil@gmail.com>
 */
.container {
  max-width: 1400px;
  margin: 0 auto;
  background-color: #e5eaee;
  display: grid;
  grid-template-areas: "header" "banner" "news" "content" "team" "contact-sponsor" "footer";
}

img {
  max-width: 100%;
}

h2 {
  font-size: 4.8rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 4px;
}

h3 {
  color: #c4132f;
  font-size: 3.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

h4 {
  font-size: 2.0rem;
  text-transform: uppercase;
  margin-top: 4px;
  font-weight: bold;
}

.no-padding {
  padding: 0 !important;
}

/**
 * Common extensible block/element modules
 *
 * @author Senthil Kumar Mukkandi <uv.visitsenthil@gmail.com>
 */
/* Start of Header */
header {
  height: 80px;
  background-color: #ffffff;
  display: grid;
  grid-area: header;
  grid-template-columns: auto auto;
}

header .header__toggle {
  display: none;
}

header .header__toggle .bar {
  width: 40px;
  height: 3px;
  background-color: #3f3f3f;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header .header__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 2rem;
  margin-left: auto;
  background-color: #c4132f;
  padding: 0 5rem 0 14rem;
}

header header nav {
  -ms-flex-item-align: center;
      align-self: center;
}

header header nav a {
  font-size: 1.8rem;
  padding-left: 20px;
  text-decoration: none;
  cursor: pointer;
}

header nav {
  padding: 0 0 0 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav__link {
  font-size: 1.6rem;
  text-decoration: none;
  padding-right: 24px;
  font-weight: bold;
  color: #000000;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

header .nav__link:hover {
  color: #c4132f;
}

/* End of Header */
/* Start of Banner */
.banner {
  position: relative;
  z-index: 1;
}

.banner .banner__content {
  position: absolute;
  right: 48px;
  top: 168px;
  text-align: center;
  width: 38%;
  font-weight: bold;
}

.banner .banner__content h1 {
  color: #c4132f;
  font-size: 6.4rem;
  font-weight: bold;
  text-transform: uppercase;
}

.banner .banner__content p {
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 1.5;
}

/* End of Banner */
.news {
  display: grid;
  grid-template-columns: 100%;
  grid-area: news;
  grid-template-areas: "block1" "block2" "block3";
}

.news .headlines__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 24px;
  font-size: 1.5rem;
  position: relative;
}

.news .headlines__content span {
  color: #717171;
  padding-bottom: 16px;
  margin-right: 8px;
}

.news .headlines__content p {
  line-height: 2.0rem;
}

.news .headlines__content .hc__wrapper {
  padding: 0 0 48px 48px;
}

.news .headlines__content .hc__wrapper p {
  width: 60%;
  margin-top: 4px;
}

.block1 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 360px;
  margin-top: -88px;
  grid-area: block1;
}

.block1 .block1__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block1 .block1__left .block1__left1 {
  background-color: #e5eaee;
}

.block1 .block1__left .block1__left2 {
  background-color: #000;
  color: #ffffff;
}

.block1 .block1__left .block1__headline {
  color: #c4132f;
  font-size: 2.0rem;
  padding-bottom: 16px;
}

.block1 .block1__right {
  background: url("../images/17-mai-headlines.png") no-repeat;
  background-size: cover;
  min-height: 280px;
}

.block2 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-area: block2;
}

.block2 .block2__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block2 .block2__top {
  background: url("../images/03-oct-headlines.png") no-repeat;
  background-size: cover;
  min-height: 280px;
}

.block2 .block2__bottom {
  display: grid;
  grid-template-columns: 50% 50%;
}

.block2 .block2__bottom .bottom__left, .block2 .block2__bottom .bottom__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block3 {
  display: grid;
  grid-template-columns: 50% 50%;
  min-height: 280px;
  grid-area: block3;
}

.block3 .block3__left, .block3 .block3__right {
  position: relative;
  background: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block3 .block3__left .center-text, .block3 .block3__right .center-text {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
}

article {
  padding: 12.0rem 0 0;
  text-align: center;
  background: #ffffff;
}

article hr {
  width: 25%;
}

article .content__column {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: left;
  padding: 6.0rem 17.6rem 0 17.6rem;
}

article .content__column .column1 {
  padding-right: 2.0rem;
}

article .content__column .column2 {
  padding-left: 2.0rem;
}

article .content__column p {
  padding-bottom: 3.2rem;
  color: #727272;
}

article footer {
  padding: 0;
  position: relative;
  top: -80px;
  background: #ffffff;
}

.team {
  background: #000000;
  color: #ffffff;
  text-align: center;
  position: relative;
  margin-top: -80px;
  padding-top: 76px;
}

.team hr {
  margin-top: 16px;
  width: 25%;
}

.team ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 64px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.team ul li {
  list-style: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100%/5);
}

.team ul li .imageOverlay {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.team ul .user-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #E5EAEE;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 0 24px 24px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s, opacity 0.5s, -webkit-transform 0.5s linear;
  transition: visibility 0s, opacity 0.5s, -webkit-transform 0.5s linear;
  -o-transition: visibility 0s, opacity 0.5s, transform 0.5s linear;
  transition: visibility 0s, opacity 0.5s, transform 0.5s linear;
  transition: visibility 0s, opacity 0.5s, transform 0.5s linear, -webkit-transform 0.5s linear;
  color: #000000;
}

.team ul .user-details.show {
  visibility: visible;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 1;
  height: 100%;
  z-index: 1;
}

.team ul .user-details.last {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.team ul .user-details h2 {
  display: block;
  width: 100%;
  font-size: 1.8rem;
  text-align: left;
}

.team ul .user-details p {
  font-size: 15px;
  line-height: 22px;
  width: 60%;
  text-align: left;
}

.contact {
  display: grid;
  grid-template-columns: 50% 50%;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 100% 100%, 50% 85%, 0 100%, 0 0);
          clip-path: polygon(50% 0%, 100% 0, 100% 100%, 100% 100%, 50% 85%, 0 100%, 0 0);
  min-height: 560px;
}

.contact .contact__form {
  background: #ffffff;
  padding: 11.2rem 14.4rem 0 12.8rem;
}

.contact .contact__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .contact__form form .heading {
  font-size: 3.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.contact .contact__form form .sub-heading {
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: .4rem;
  color: #000000;
}

.contact .contact__form form h3, .contact .contact__form form input, .contact .contact__form form textarea {
  margin-top: 1.6rem;
}

.contact .contact__form form input, .contact .contact__form form textarea {
  background: #e8e8e8;
  border: 0;
  padding: .8rem;
  resize: none;
}

.contact .contact__form form .btn-submit {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 1.6rem;
  background: none;
  border: 1px solid #000;
  padding: 1.6rem;
  text-transform: uppercase;
}

.contact .contact__sponsor {
  background: #000000;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 13rem 13rem 13rem 6rem;
}

.contact .contact__sponsor span {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
}

footer {
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.4rem;
  font-size: 1.3rem;
  background: #e5eaee;
}

footer p {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  color: #727272;
}

footer span {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  text-align: center;
}

footer span .icon {
  margin-left: 1.6rem;
  font-size: 2.4rem;
}

footer nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  text-align: right;
}

footer .footer-nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  color: #000000;
  text-decoration: none;
  margin-right: 2.4rem;
}

/** @author Senthil Kumar Mukkandi <uv.visitsenthil@gmail.com> */
/* Start of Destkop Media Query*/
@media only screen and (max-width: 1200px) {
  .banner .banner__content {
    width: 50%;
  }
  .contact {
    min-height: 400px;
  }
  .contact .contact__form {
    padding: 24px;
  }
  .contact .contact__sponsor {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 24px;
  }
  .contact .contact__sponsor span {
    font-size: 18px;
  }
}

/* Start of Destkop Media Query*/
@media only screen and (max-width: 992px) {
  h2 {
    font-size: 2.8rem;
  }
  h3 {
    font-size: 2.0rem;
  }
  h4 {
    font-size: 1.8rem;
  }
  .banner .banner__content {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.8);
    padding: 16px;
  }
  .banner .banner__content h1 {
    font-size: 2.8rem;
  }
  .banner .banner__content p {
    font-size: 1.4rem;
  }
  .block2 .block2__top {
    min-height: 200px;
  }
  .block2 .block2__top .hc__wrapper {
    padding: 0 0 24px 24px;
  }
  .block2 .block2__top .hc__wrapper p {
    width: 100%;
    font-size: 1.4rem;
  }
  .block3 {
    min-height: 180px;
  }
  .block3 .center-text .icon {
    font-size: 3rem;
    line-height: 1.5;
  }
  .block3 .center-text .center-text__heading {
    font-size: 1.6rem;
    line-height: 1.5;
  }
  .team ul li {
    width: calc(100%/4);
  }
  article {
    padding: 40px 0 0;
  }
  article .content__column {
    padding: 20px;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
  }
  article .content__column .column1, article .content__column .column2 {
    padding: 0;
  }
}

/* End of Destkop Media Query*/
/* Start of Tablet Media Query */
@media only screen and (max-width: 768px) {
  .wrapper__mobile-menu {
    height: 100vh;
    overflow: hidden;
  }
  .wrapper__mobile-menu header {
    height: auto;
  }
  header {
    background-color: #c4132f;
  }
  header .header__mobile {
    display: grid;
    height: calc(100vh - 80px);
    background: #fff;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: 3;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .header__mobile .nav__link {
    padding: 0;
  }
  header .header__image {
    height: 80px;
  }
  header .header__toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    padding-left: 1.6rem;
  }
  header .header__toggle .bar {
    background-color: #ffffff;
  }
  header nav {
    display: none;
    -ms-flex-item-align: center;
        align-self: center;
  }
  header .header__mobile {
    display: grid;
    height: calc(100vh - 60px);
    position: relative;
    z-index: 2;
    background: #fff;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: 3;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .block1 {
    grid-template-columns: 100%;
    grid-template-rows: 260px auto;
  }
  .team ul li {
    width: calc(100%/3);
  }
  .contact {
    grid-template-columns: 100%;
    -webkit-clip-path: none;
            clip-path: none;
  }
  .contact .contact__form, .contact .contact__sponsor {
    padding: 24px;
  }
  .contact .contact__sponsor span {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer p {
    margin-bottom: 8px;
  }
  footer span {
    margin-bottom: 8px;
    margin-left: 0;
  }
  footer span .icon {
    margin: 0 8px;
  }
}

@media only screen and (max-width: 600px) {
  .banner .banner__content {
    width: 100%;
  }
  .banner .banner__content h1 {
    font-size: 2.2rem;
  }
  .banner .banner__content p {
    font-size: 1.2rem;
  }
  .block1 {
    grid-template-rows: 340px auto;
  }
  .block2 {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
  }
  .block2 .block2__top {
    min-height: 280px;
    background-position: center;
  }
  .block2 .block2__top .hc__wrapper {
    padding: 48px 0 48px 48px;
  }
  .block3 {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
  }
  .team ul li {
    width: calc(100%/2);
  }
}

/* End of Tablet Media Query */
@media only screen and (max-width: 420px) {
  article footer {
    top: -40px;
  }
  .team {
    margin-top: -41px;
  }
}
