<footer class="footer">
    <div class="container footer--wrapper no-padding">
        <span class="footer--copyrights">
            &copy; 2014. Segel-Team. Alle Rechete verbehalten
        </span>
        <span class="footer--socialicon">
            <img src="assets/img/twitter.png"/>
            <img src="assets/img/facebook.png"/>
        </span>
        <span>
            <ul>
                <li>Impressum</li>
                <li>Datenschutz</li>
                <li>Rechtliches</li>
                <li>Copyrights</li>
            </ul>
        </span>
    </div>
</footer>