<!-- Team
==================================== -->
<section class="team">
    <h2>Unser Team</h2>
    <h4>Subtitles von unserem Team</h4>
    <hr>
    <ul id="list">
        <li class="list__item js-list--item">
            <img class="imageOverlay" alt="profile" src="assets/images/team-member-1.png" />
            <div class="user-details">
                <h2>Max Mustermann</h2>
                <p>A smooth sea never made a skilled sailor</p>
            </div>
        </li>
        <li class="list__item js-list--item">
            <img class="imageOverlay" alt="profile" src="assets/images/team-member-1.png" />
            <div class="user-details">
                <h2>Max Mustermann</h2>
                <p>A smooth sea never made a skilled sailor</p>
            </div>
        </li>
        <li class="list__item js-list--item">
            <img class="imageOverlay" alt="profile" src="assets/images/team-member-1.png" />
            <div class="user-details">
                <h2>Max Mustermann</h2>
                <p>A smooth sea never made a skilled sailor</p>
            </div>
        </li>
        <li class="list__item js-list--item">
            <img class="imageOverlay" alt="profile" src="assets/images/team-member-1.png" />
            <div class="user-details">
                <h2>Max Mustermann</h2>
                <p>A smooth sea never made a skilled sailor</p>
            </div>
        </li>
        <li class="list__item js-list--item">
            <img class="imageOverlay" alt="profile" src="assets/images/team-member-1.png" />
            <div class="user-details">
                <h2>Max Mustermann</h2>
                <p>A smooth sea never made a skilled sailor</p>
            </div>
        </li>
        <li class="list__item js-list--item">
            <img class="imageOverlay" alt="profile" src="assets/images/team-member-1.png" />
            <div class="user-details">
                <h2>Max Mustermann</h2>
                <p>A smooth sea never made a skilled sailor</p>
            </div>
        </li>
        <li class="list__item js-list--item">
            <img class="imageOverlay" alt="profile" src="assets/images/team-member-1.png" />
            <div class="user-details">
                <h2>Max Mustermann</h2>
                <p>A smooth sea never made a skilled sailor</p>
            </div>
        </li>
        <li class="list__item js-list--item">
            <img class="imageOverlay" alt="profile" src="assets/images/team-member-1.png" />
            <div class="user-details">
                <h2>Max Mustermann</h2>
                <p>A smooth sea never made a skilled sailor</p>
            </div>
        </li>
        <li class="list__item js-list--item">
            <img class="imageOverlay" alt="profile" src="assets/images/team-member-1.png" />
            <div class="user-details">
                <h2>Max Mustermann</h2>
                <p>A smooth sea never made a skilled sailor</p>
            </div>
        </li>
        <li class="list__item js-list--item">
            <img class="imageOverlay" alt="profile" src="assets/images/team-member-1.png" />
            <div class="user-details">
                <h2>Max Mustermann</h2>
                <p>A smooth sea never made a skilled sailor</p>
            </div>
        </li>
        <li class="list__item js-list--item">
            <img class="imageOverlay" alt="profile" src="assets/images/team-member-1.png" />
            <div class="user-details">
                <h2>Max Mustermann</h2>
                <p>A smooth sea never made a skilled sailor</p>
            </div>
        </li>
        <li class="list__item js-list--item">
            <img class="imageOverlay" alt="profile" src="assets/images/team-member-1.png" />
            <div class="user-details">
                <h2>Max Mustermann</h2>
                <p>A smooth sea never made a skilled sailor</p>
            </div>
        </li>
        <li class="list__item js-list--item">
            <img class="imageOverlay" alt="profile" src="assets/images/team-member-1.png" />
            <div class="user-details">
                <h2>Max Mustermann</h2>
                <p>A smooth sea never made a skilled sailor</p>
            </div>
        </li>
        <li class="list__item js-list--item">
            <img class="imageOverlay" alt="profile" src="assets/images/team-member-1.png" />
            <div class="user-details">
                <h2>Max Mustermann</h2>
                <p>A smooth sea never made a skilled sailor</p>
            </div>
        </li>
        <li class="list__item js-list--item">
            <img class="imageOverlay" alt="profile" src="assets/images/team-member-1.png" />
            <div class="user-details">
                <h2>Max Mustermann</h2>
                <p>A smooth sea never made a skilled sailor</p>
            </div>
        </li>
    </ul>
</section>

<!-- End of Team
==================================== -->