.formsponsor{
    position: relative;
    top: -1px;
    .formsponsor--wrapper{
        .form-div-wrapper{
            display: inline-block;
            .form-wrapper{
                padding: 64px 15% 64px;
                background: $color-white;
                h2{
                    font-size: 30px;
                    font-weight: bold;
                    color: $color-black;
                    text-transform: uppercase;
                }
                h3{
                    font-size: 20px;
                    font-weight: bold;
                    color: $color-black;
                    margin-bottom: 16px;
                    text-transform: uppercase;
                }
                button{
                    display: inline-block;
                    border: none;
                    padding: 16px;
                    margin: 0;
                    text-decoration: none;
                    border: 2px solid $color-black;
                    background: $color-white;
                    color: $color-black;
                    font-family: sans-serif;
                    font-size: 15px;
                    font-weight: bold;
                    cursor: pointer;
                    text-align: center;
                    transition: background 250ms ease-in-out, 
                                transform 150ms ease;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                }
                button:hover,
                button:focus {
                    background: $color-black;
                    color: $color-white;
                }
        
                button:active {
                    transform: scale(0.99);
                }
                .form-group{
                    input,textarea{
                        background: $color-grey;
                        display: block;
                        width: 100%;
                        padding: 10px;
                        font-size: 15px;
                        color: $color-text-grey;
                        background-color: $form-input-bg;
                        background-clip: padding-box;
                        border: 1px solid $form-input-bg;
                        margin-bottom: 16px;
                    }
                    textarea{
                        resize: none;
                        margin-bottom: 24px;
                    }
                }
            }
        }
        .sponsor--wrapper{
            background: $color-black;
            height: 100%;
            padding: 0;
            display: inline-block;
            float: right;
            z-index: 1;
            .sponsor--item{
                min-height: 220px;
                display: inline-flex;
                float: left;
                align-items: flex-end;
                justify-content: center;
                text-align: center;
                h2{
                    font-size: 30px;
                    font-weight: bold;
                    color: $color-white;
                }
            }
        }
        &:before {
            content: '';
            position: absolute;
            top: 32px;
            left: 0;
            height: 100%;
            width: 51%;
            background: white;
            transform: skew(0deg, -6deg);
          }
          &:after {
            content: '';
            position: absolute;
            top: 32px;
            right: 0;
            height: 100%;
            width: 50%;
            background: $color-black;
            transform: skew(0deg, 6deg);
          }
    }
    
}

@media (max-width: 768px) {
    .formsponsor{
        .formsponsor--wrapper{
            
        }
            
    }
    .formsponsor {
        .formsponsor--wrapper{
            &:before,&:after{
                display: none;
            }
            .form-div-wrapper{
                display: inline-block;
                .form-wrapper{
                    button{
                        float: right;
                    }
                }
            }
            .sponsor--wrapper{
                height: auto;
                .sponsor--item {
                    width: 50%;
                    min-height: auto;
                    padding: 24px;
                    align-items:center;
                    h2{
                        font-size: 20px;
                    }
                }
            }
        }
    } 
}