<!DOCTYPE html>
<html lang="en">

<head>

    <title>Loop Challenge</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="stylesheet" href="assets/fonts/font-icon.css">
</head>


<body id="js-wrapper">
    <div class="container">
         <!-- Header
==================================== -->

<header>
    <div class="header__toggle" id="js-header--toggle">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <nav id="js-header--nav" aria-label="site">
        <a class="nav__link" href="#">About Us</a>
        <a class="nav__link" href="#">gallery</a>
        <a class="nav__link" href="#">crew</a>
        <a class="nav__link" href="#">kontakt</a>
    </nav>
    <span class="header__image">
        <img src="assets/images/logo-flag.png" alt="logo">
    </span>
</header>

<!-- End of Header
==================================== --> <!-- Main Banner
==================================== -->

<section class="banner" role="banner">
    <div class="banner__content">
        <h1>Lorem ipsum <br> proin gravi</h1>
        <p>Lorem ipsum. proin gravida nibh vel velit Auctor aliquet. Aenean sollicitudin, lorem</p>
    </div>
    <img src="assets/images/banner.png" alt="Lorem ipsum proin gravi" />
</section>

<!-- End of Main Banner
==================================== --> <!-- News
==================================== -->

<section class="news">
    <div class="block1">
        <div class="block1__left">
            <div class="block1__left1 headlines__content">
                <span class="time"><span class="icon icon-calendar"></span>23 MAI 2014</span>
                <p class="block1__headline">News Headlines</p>
                <p>Lorem Ipsum. Proin gravida nibh veit auctor aliquet.Aenean sollicitudin</p>
            </div>
            <div class="block1__left2 headlines__content">
                <span><span class="icon icon-calendar"></span> 23 MAI 2014</span>
                <p class="block1__headline">News Headlines</p>
                <p>Lorem Ipsum. Proin gravida nibh veit auctor aliquet.Aenean sollicitudin</p>
            </div>
        </div>
        <div class="block1__right headlines__content no-padding">
            <div class="hc__wrapper">
                <h2>17 MAI</h2>
                <h3>Headline Beitrag 2014</h3>
                <h4>subtitle</h4>
                <p>Lorem ipsum. Proin gravida nibh vei veit auctor aliquet Aenean sollicitudin, lorem quis bibendum auctor</p>
            </div>
        </div>
    </div>
    <div class="block2">
        <div class="block2__left">
            <img src="assets/images/shipping.png" alt="shipping" />
        </div>
        <div class="block2__right">
            <div class="block2__top headlines__content no-padding">
                <div class="hc__wrapper">
                    <h2>17 MAI</h2>
                    <h3>Headline Beitrag 2014</h3>
                    <h4>subtitle</h4>
                    <p>Lorem ipsum. Proin gravida nibh vei veit auctor aliquet Aenean sollicitudin, lorem quis bibendum auctor</p>
                </div>
            </div>
            <div class="block2__bottom">
                <div class="bottom__left">
                    <img src="assets/images/flag.png" alt="flag" />
                </div>
                <div class="bottom__right">
                    <img src="assets/images/flag-ship.png" alt="flag-ship" />
                </div>
            </div>
        </div>
    </div>
    <div class="block3">
        <div class="block3__left">
            <img src="assets/images/blinder.png" alt="blinder">
            <div class="center-text">
                <span class="icon icon-calendar"></span>
                <span class="center-text__heading"><br>News+<br>Bilder</span>
            </div>
        </div>
        <div class="block3__right">
            <div class="center-text">
                <span class="icon icon-calendar"></span>
                <span class="center-text__heading"><br>SegelTeam<br>Termine 2014</span>
            </div>
        </div>
    </div>
</section>

<!-- End of News
==================================== --> <!-- Article
==================================== -->
<article>
    <h2>Headline - Lorem ipsum </h2>
    <h4>subtitle lorem ipsum</h4>
    <hr>
    <div class="content__column">
        <div class="column1">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
        </div>
        <div class="column2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas</p>
            <p>sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
        </div>
    </div>
    <footer>
        <img src="assets/images/headline-footer.png" alt="article-footer" />
    </footer>
</article>

<!-- End of Article
==================================== --> <!-- Team
==================================== -->
<section class="team">
    <h2>Unser Team</h2>
    <h4>Subtitles von unserem Team</h4>
    <hr>
    <ul id="list">
        <li class="list__item js-list--item">
            <img class="imageOverlay" alt="profile" src="assets/images/team-member-1.png" />
            <div class="user-details">
                <h2>Max Mustermann</h2>
                <p>A smooth sea never made a skilled sailor</p>
            </div>
        </li>
        <li class="list__item js-list--item">
            <img class="imageOverlay" alt="profile" src="assets/images/team-member-1.png" />
            <div class="user-details">
                <h2>Max Mustermann</h2>
                <p>A smooth sea never made a skilled sailor</p>
            </div>
        </li>
        <li class="list__item js-list--item">
            <img class="imageOverlay" alt="profile" src="assets/images/team-member-1.png" />
            <div class="user-details">
                <h2>Max Mustermann</h2>
                <p>A smooth sea never made a skilled sailor</p>
            </div>
        </li>
        <li class="list__item js-list--item">
            <img class="imageOverlay" alt="profile" src="assets/images/team-member-1.png" />
            <div class="user-details">
                <h2>Max Mustermann</h2>
                <p>A smooth sea never made a skilled sailor</p>
            </div>
        </li>
        <li class="list__item js-list--item">
            <img class="imageOverlay" alt="profile" src="assets/images/team-member-1.png" />
            <div class="user-details">
                <h2>Max Mustermann</h2>
                <p>A smooth sea never made a skilled sailor</p>
            </div>
        </li>
        <li class="list__item js-list--item">
            <img class="imageOverlay" alt="profile" src="assets/images/team-member-1.png" />
            <div class="user-details">
                <h2>Max Mustermann</h2>
                <p>A smooth sea never made a skilled sailor</p>
            </div>
        </li>
        <li class="list__item js-list--item">
            <img class="imageOverlay" alt="profile" src="assets/images/team-member-1.png" />
            <div class="user-details">
                <h2>Max Mustermann</h2>
                <p>A smooth sea never made a skilled sailor</p>
            </div>
        </li>
        <li class="list__item js-list--item">
            <img class="imageOverlay" alt="profile" src="assets/images/team-member-1.png" />
            <div class="user-details">
                <h2>Max Mustermann</h2>
                <p>A smooth sea never made a skilled sailor</p>
            </div>
        </li>
        <li class="list__item js-list--item">
            <img class="imageOverlay" alt="profile" src="assets/images/team-member-1.png" />
            <div class="user-details">
                <h2>Max Mustermann</h2>
                <p>A smooth sea never made a skilled sailor</p>
            </div>
        </li>
        <li class="list__item js-list--item">
            <img class="imageOverlay" alt="profile" src="assets/images/team-member-1.png" />
            <div class="user-details">
                <h2>Max Mustermann</h2>
                <p>A smooth sea never made a skilled sailor</p>
            </div>
        </li>
        <li class="list__item js-list--item">
            <img class="imageOverlay" alt="profile" src="assets/images/team-member-1.png" />
            <div class="user-details">
                <h2>Max Mustermann</h2>
                <p>A smooth sea never made a skilled sailor</p>
            </div>
        </li>
        <li class="list__item js-list--item">
            <img class="imageOverlay" alt="profile" src="assets/images/team-member-1.png" />
            <div class="user-details">
                <h2>Max Mustermann</h2>
                <p>A smooth sea never made a skilled sailor</p>
            </div>
        </li>
        <li class="list__item js-list--item">
            <img class="imageOverlay" alt="profile" src="assets/images/team-member-1.png" />
            <div class="user-details">
                <h2>Max Mustermann</h2>
                <p>A smooth sea never made a skilled sailor</p>
            </div>
        </li>
        <li class="list__item js-list--item">
            <img class="imageOverlay" alt="profile" src="assets/images/team-member-1.png" />
            <div class="user-details">
                <h2>Max Mustermann</h2>
                <p>A smooth sea never made a skilled sailor</p>
            </div>
        </li>
        <li class="list__item js-list--item">
            <img class="imageOverlay" alt="profile" src="assets/images/team-member-1.png" />
            <div class="user-details">
                <h2>Max Mustermann</h2>
                <p>A smooth sea never made a skilled sailor</p>
            </div>
        </li>
    </ul>
</section>

<!-- End of Team
==================================== --> <!-- Contact and sponsor
==================================== -->

<section class="contact">
    <div class="contact__form">
        <form action="/action_page.php">
            <span class="heading">Kontakt</span>
            <span class="sub-heading">formular</span>
            <input name="name" type="text" placeholder="Name*">
            <input name="email" type="email" placeholder="Email*">
            <textarea rows="4" cols="50" placeholder="Nachricht*"></textarea>
            <input class="btn-submit" type="submit" value="Absenden">
        </form>
    </div>
    <div class="contact__sponsor">
        <span>sponsor 1 <br> logo</span>
        <span>sponsor 2 <br> logo</span>
        <span>sponsor 3 <br> logo</span>
        <span>sponsor 4 <br> logo</span>
    </div>
</section>

<!-- End of Contact and sponsor
==================================== --> <!-- Footer
==================================== -->
<footer>
    <p>&copy; 2014 Segel-Team. Alle Rechte vorbe</p>
    <span><span class="icon icon-calendar"></span><span class="icon icon-calendar"></span></span>
    <nav aria-label="site">
        <a class="footer-nav" href="#" >Impressum</a>
        <a class="footer-nav" href="#" >Datenschutz</a>
        <a class="footer-nav" href="#" >Copyright</a>
        <a class="footer-nav" href="#" >Copyright</a>
    </nav>
</footer>

<!-- End of Footer
==================================== -->
    </div>
    <script src="assets/js/main.js"></script>
</body>

</html>